.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-control-container {
  display: none;
  height: 0;
}

[mapboxgl-children] {
  display: none;
}